:root {
    --text-color: #83869A;
    --dark-color: #13183F;
    --white-color: #fff;
    --orange-color: #F74780;
    --bottom-link: #FFA7C3;
    --btn-hover: #666CA3;
    --font-family: "Plus Jakarta Sans", "Arial", sans-serif;
    --body-bg-color: #fff;
}

/* FONTS */
@font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/plus-jakarta-sans-v2-latin-500.woff2") format("woff2"), 
         url("../fonts/plus-jakarta-sans-v2-latin-500.woff") format("woff");
    font-display: swap;
  }

@font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/plus-jakarta-sans-v2-latin-700.woff2") format("woff2"), 
         url("../fonts/plus-jakarta-sans-v2-latin-700.woff") format("woff");
    font-display: swap;
  }

@font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    src:url("../fonts/plus-jakarta-sans-v2-latin-800.woff2") format("woff2"), 
         url("../fonts/plus-jakarta-sans-v2-latin-800.woff") format("woff");
    font-display: swap;
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--dark-color);
    border-radius: 28px;
    padding: 14px 31px 14px 32px;
    white-space: nowrap;
    transition: background-color 0.4s ease;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn--orange {
    background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    padding: 19px 31px 16px 32px;
    border-radius: 31.5px;
}

.btn--orange:hover {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.main-content {
    flex-grow: 1;
}

/* Header */

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.site-header__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
}

.site-header__logo-link:hover {
    opacity: 0.6;
}

.site-header__logo {
    width: 111px;
    height: 28px;
    transition: 0.4s ease opacity;
}

/* Hero */
.hero {
    width: 1275px;
    position: relative;
    padding-top: 185px;
    padding-bottom: 226px;
}

.hero__content {
    width: 457px;
}

.hero__heading {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: var(--dark-color);
    margin: 0;
    margin-bottom: 29px;
}

.hero__main-text {
    color: var(--text-color);
    margin: 0;
    margin-bottom: 40px;
}

.hero__img-girl {
    position: absolute;
    top: 87px;
    left: 739px;
    width: 317px;
    height: 560px;
}

.hero__img-ellips {
    position: absolute;
    z-index: -1;
    top: -160px;
    left: 740px;
}

.course {
    position: absolute;
    top: 443px;
    left: 619px;
    display: inline-block;
    border-radius: 15px;
    background-color: var(--white-color);
    padding: 20px 72px 20px 24px;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
}

.course--members {
    position: absolute;
    top: 204px;
    left: 1019px;
    padding-right: 57px;
}

.course__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

.course__number {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-color);
}

/* List */
/* BOXES */
.boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -30px;
    margin-bottom: -9px;
    padding-bottom: 60px;
}

.box-simple {
    width: 350px;
    padding: 64px 32px 64px;
    margin-left: 30px;
    margin-bottom: 80px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.box-simple__content {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    color: var(--white-color);
}

.box {
    position: relative;
    width: 350px;
    padding: 64px 32px 40px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    margin-left: 30px;
    margin-bottom: 80px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.box__icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.box__link {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: var(--dark-color);
    margin-bottom: 24px;
}

.box__text {
    flex-grow: 1;
    margin-bottom: 24px;
}

.box__bottom-link {
    font-weight: 700;
    color: var(--orange-color);
}

.box__bottom-link:hover {
    color: var(--bottom-link);
}

/* Footer */
.footer {
    background-color: var(--dark-color);
}

svg {
    color: var(--white-color);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
}

.footer__logo-link:hover {
    opacity: 0.6;
}

.footer__logo {
    width: 111px;
    height: 28px;
    transition: 0.4s ease opacity;
}

.btn--footer {
    background-image: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.btn--footer:hover {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
